.align
  %h1.myfonts
    = @post.name
.container
  %p
    = raw(@post.text)
.container
  .form
    .form-group
      .row
        .align
          %h2.myfonts Comments
          - @post.comments.each do |comment|
            %br
              = raw(comment.body)
              %p
                Said Mr.
                = comment.user.username
                - if user_signed_in?
                  = link_to "Delete", [comment.post, comment], confirm: 'Are you sure?', method: :delete

.container
  .align
    .form
      .form-group
        .row
          .col-md-6.col-md-offset-3
            %h2.myfonts Add a Comment:
            = form_for([@post, @post.comments.build]) do |f|

              %p
                = f.hidden_field :post_id
                = f.label :body, "Comment content"
                = f.text_area :body, class: "form-control editor", rows: 10
              %p
                = f.submit "Create comment", class: "btn btn-primary"



